.img-upload {
	width: 120px;
	height: 120px;
	border-radius: 4px;
	display: inline-block;
	border: 1px #ccc;
	float: left;
	margin-left: 5px;
}
.upload-img {
	background: #fff;
	border-style: dashed;
}
.prepare-img {
	background: #ccc;
	border-style: solid;
}
.blog-post {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 15px;
}

.blog-opr {
	border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
}