
/*tour destination page*/

.tour-slide {
    padding: 3px;
    border: 1px solid #ccc;
}
.thumb {
    margin-top: 10px;
    padding: 0;
}
.thumb li {
    display: inline-block;
    margin: 0 5px;
}
.more-dest {
    font-style: italic;
}
.more-dest span {
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}
.item {
    height: 200px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
}
.item img {
    max-height: 100%;
    max-width: none !important;
}

.tour-item {
    position: relative;
}
.tour-item:hover .span-text {
    height: 200px;
}
.span-text {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 0;
    background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
        transition: height 0.5s;
}